/* Write your CSS here */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc2a0;
  height: 100%;
  background-size: cover;
}

.simple-todos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  width: 98%;
  margin: 30px;
}

@media screen and (min-width: 768px) {
  .simple-todos-container {
    padding: 48px;
    margin-top: 96px;
    margin-bottom: 96px;
  }
}

.heading {
  color: #ff8542;
  font-family: 'Roboto';
  font-size: 42px;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 16px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 48px;
    margin-top: 32px;
    margin-bottom: 48px;
  }
}

.todo-list {
  padding-left: 0px;
}

.add-input-title {
  padding: 10px;
}

.add-todo-item {
  padding: 10px;
}

.add-button {
  background-color:#061a99;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  cursor: pointer;
}
